__pycache__/
*.py[cod]
*.pyd

venv/
.venv/

dist/
build/

*.spec
*.log

data/webview_cache/
cache/
tmp/
temp/

data/blocklists/*.txt
data/captures/
data/models/*.pkl
data/models/*.onnx

frontend/node_modules/
frontend/dist/

*.egg-info/
.pytest_cache/
.mypy_cache/